NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TYMbaRHHNsv5BSWsM7PSFrwat7wAIvRCCqUxoXNUSbsbzxLaCFJgx7WPq5vp2fbpzhq8QXkUJ1PLkh1sTxPiliN00HktwREuU
STRIPE_PRIVATE_KEY=
STRIPE_CUSTOMER_EMAIL=alex.zhang@take2games.com
STRIPE_PAYMENT_METHOD_CONFIGURATION=pmc_1TYMc8RHHNsv5BSWK2cJvYO9
PREORDER_INVOICE_CURRENCY=usd